@define-color background #232634;
@define-color foreground #f2f4f8;

@define-color black #252525;
@define-color reddish #ee5396;
@define-color green #25be6a;
@define-color pink #f4b8e4;
@define-color lightblue #78a9ff;
@define-color lavender #cba6f7;

* {
  font-family:
    GeistMono Nerd Font,
    Symbols Nerd Font;
  font-weight: 600;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background-color: alpha(@background, 1); /* base05 */
  color: @lavender;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

#workspaces {
  padding: 0px 7px;
}

#workspaces button {
  padding: 0px 10px;
  color: alpha(@foreground, 1);
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: #fff;
  border: none;
  transition: all 0.2s ease;
  background-color: @pink;
}

#workspaces button.active {
  color: #fff;
  border: none;
  background-color: @lavender;
}

#workspaces button.urgent {
  color: #fff;
  border: none;
  animation: blink 1s steps(2, end) infinite;
}

#workspaces button.empty {
  color: alpha(@foreground, 0.3);
  border: none;
}

#workspaces button.empty:hover {
  color: #fff;
  border: none;
  transition: all 0.2s ease;
  background-color: @pink;
}

#workspaces button.empty.active {
  color: #fff;
  border: none;
}

#clock {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-left: -40px;
  background-color: transparent;
}
#language {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#window,
.modules-left > widget:first-child > #workspaces {
  margin-left: 2px;
}

#pulseaudio {
  font-size: 14px;
  color: @pink;
  padding: 0 7px;
}

#custom-expand-icon {
  color: @lightblue;
  padding: 0 7px;
}

#tray {
  margin: 0 7px;
}

#pulseaudio.muted {
  color: @reddish;
}

#network {
  font-size: 15px;
  color: @lavender;
  padding: 0 7px;
  margin: 0;
}

#custom-power {
  color: @reddish;
  padding: 0 7px 0 3px;
  font-size: 18px;
  font-weight: 600;
}

.modules-left {
  background-color: @background;
  border-radius: 0px 0px 10px;
  padding: 0 5px;
  margin: 0px 0px 0px 0px;
}

.modules-center {
  background-color: @background;
  border-radius: 0 0 10px 10px;
  padding: 0 10px;
  margin: 0px 0px 0px 0px;
}

.modules-right {
  background-color: @background;
  border-radius: 0 0 0 10px;
  padding: 0 5px 0 0;
  margin: 0px 0px 0px 0px;
}

#custom-spotify {
  color: @green;
  padding-right: 0px;
}

@keyframes blink {
  0% {
    background-color: @reddish;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: @reddish;
  }
}
