* {
  green: #a6e3a1;
  mauve: #8361ab;
  flamingo: #f5e0dc;
  base: #1e1e2e;
  surface-0: #313244;
  bg-d-blue: #1e2326;
  bg-l-blue: #272d32;
  bg-selected-blue: #323940;
  orange: #dbbc7f;
  pink: #f5c2e7;
  maroon: #eba0ac;
  teal: #94e2d5;
  critical-red: #e67e80;
}
