* {
    BG:    #161616ff; /* base00 */
    BGA:   #78A9FFff; /* base0D (blue) */
    FG:    #F2F4F8ff; /* base05 (foreground) */
    FGA:   #B6B8BBff; /* base06 (lighter gray for a secondary foreground/accent) */
    BDR:   #484848ff; /* base03 (darker gray for borders) */
    SEL:   #252525ff; /* base01 (darker background for selection) */
    UGT:   #EE5396ff; /* base08 (red for urgent/highlight) */
    IMG:   #08BDBAff; /* base0A (teal/orange, as an image/accent color) */
    OFF:   #484848ff; /* base03 (darker gray for 'off' state) */
    ON:    #25BE6Aff; /* base0B (green for 'on' state) */
}
